/* common css start */
:root {
    --main-color: black;
    --secondery-color: gray;
    --button-color: rgb(246, 75, 103);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 60px auto;
}

h1 {
    font-size: 60px;
    line-height: 65px;
    color: var(--main-color);
}

h2 {
    font-size: 45px;
    line-height: 55px;
    color: var(--main-color);
}

h3 {
    font-size: 30px;
    line-height: 50px;
    color: var(--main-color);
}

h4 {
    font-size: 25px;
    line-height: 40px;
    color: var(--main-color);
    font-weight: 400;
}

p {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: var(--main-color);
}

.secondery {
    color: var(--secondery-color);
}

button {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: var(--button-color);
    color: white;
    margin: 25px 0px;
}

/* common css end */

/* navigation CSS start */
header {
    margin: 70px 0px 50px;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manubar {
    display: none;
}

.head-text {
    margin-right: 70px;
}

.links a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
}

/* navigation CSS end */

/* main banner CSS start */
.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main banner CSS end */

/* logos CSS start */
.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 40px 0px;
    /* margin: 30px 0px; */
}

/* logos CSS end */

/* collections CSS start */
.collection-head {
    text-align: center;
    margin: 40px 0px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.product {
    padding: 16px;
    box-shadow: 2px 2px 20px #b2b0b0;
}

.product img {
    width: 100%;
}

.rating i {
    color: goldenrod;
    font-size: 15px;
}

.rating span {
    color: gray;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}

/* collections CSS end */

/* featured CSS start */
.featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-text {
    margin-left: 70px;
}

/* featured CSS end */

/* footer CSS start */
footer {
    text-align: center;
    padding: 70px 0px;
    background-color: rgb(19 19 60);
}

.foot-head,
.icons {
    color: white;
}

.foot-text {
    color: white;
    font-weight: 400;
    line-height: 25px;
}

.icons i {
    font-size: 18px;
    background-color: rgb(199 198 198 / 31%);
    padding: 8px;
    border-radius: 50px;
    margin: 15px 8px;
}

/* main banner CSS end */